<h3>Home page</h3>

@*<div class="row">
    <div class="col">
        <PowerLoop.Play.PlayButton />
    </div>
</div>
<div class="row">
    <div class="col">
        <PowerLoop.Settings.SettingsPage />
    </div>
</div>*@