@inject IPlayViewModel playViewModel

<SnackBus />
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<ControlBar />
<PlayView />
<ObservableRegion ViewModel="@this.playViewModel">
    @if (!this.playViewModel.IsPlaying)
    {
        <div class="mt-16">
            <SettingsView />
        </div>
    }
</ObservableRegion>